/* src/pages/Register.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #282c34;
    color: #fff;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #61dafb;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 20px;
    background-color: #20232a;
    border-radius: 10px;
  }
  
  input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #61dafb;
    padding-left: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
  }
  
  button {
    height: 45px;
    border-radius: 8px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  h2 {
    font-size: 28px;
    margin-top: 40px;
    color: #61dafb;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #61dafb;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
  }
  
  .card p {
    color: #fff;
    font-weight: bold;
    margin: 10px;
  }
  
  .card button {

    background-color: white;
    color: #4d6268;
    border-radius: 10;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    
  }
  
  .card button:hover {
    opacity: 0.8;
  }
  