/* src/pages/Home.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
/* src/pages/Home.css */

nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 10px 0;
  }
  
  nav ul li a {
    display: block; /* Faz com que o link ocupe a largura total disponível */
    text-align: center;
    font-size: 20px;
    color: #61dafb;
    text-decoration: none;
    padding: 10px 20px; /* Ajuste o padding para o espaçamento interno */
    border: 2px solid #61dafb;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    width: 150px; /* Define uma largura fixa para todos os botões */
    margin: 0 auto; /* Centraliza os botões */
  }
  
  nav ul li a:hover {
    background-color: #61dafb;
    color: #282c34;
  }
  
  