.usersidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usersidebar .s1 , .usersidebar .s2{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 15px;
}

.usersidebar svg {
    height: 40px;
    color: rgb(3, 3, 3);
}

.usersidebar .s1:hover{
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    cursor: pointer;
    color: grey;
}

.usersidebar .s2{
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    cursor: pointer;
    color: grey;
}

/* src/components/UserSidebar.css */
.user-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    background-color: #f8f9fa;
  }
  
  .sidebar-item {
    margin-bottom: 20px;
    width: 100%;
    padding-left: 8px;
  }
  
  .sidebar-item.active {
    background-color: #e7f3ff;
    border-left: 4px solid #0d6efd;
  }
  
  .stylenone {
    text-decoration: none;
    color: inherit;
  }
  
  .s1 {
    display: flex;
    align-items: center;
  }
  
  .size-6 {
    height: 24px;
    width: 23px;
    margin-right: 10px;
  }
  
  .delete-account {
    margin-top: auto; /* Empurra o botão para o final da sidebar */
  }
  
  .delete-button {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #ff2121;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  .delete-button svg {
    margin-right: 8px;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }
  