* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #103421 0%, #588970 100%);
}